*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  
}
.container{
  background-color:rgba(255,255,255,0.2);;
  filter: blur(0.006px);
  height: 90vh;
   width:90vh;
  margin: 30px;
  padding: 25px;
  border: 10px;
  border-radius: 20px;  

}
.calculator{
  margin: 20px; 
  text-align: center;
  color: #00FFFF;
  font-family: 'Times New Roman', Times, serif;
}
.screen{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
  background-color: #fff;
  height: 70px;
  width:80vh;
  font-size: 25px;
  border-radius: 20px;
  padding: 15px;
}

.function{
  display:flex;
  justify-content: space-between;
  height: 60vh;
  
}
.number{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  width:42vw;
  background-color:rgba(255,255,255,0.2);
  border-radius: 20px;
}
.operators{
  display: grid;
  grid-template-columns: 80px 80px;
  margin-left: 20px;
  margin-top: 45px;
  margin-right: 25px;
  max-width:165px;
  background-color: rgba(255,255,255,0.2);
  max-height: 260px;
  border-radius: 10px;
}
button{
  height:80px;
  width: 80px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  outline: none;
  border-color: #fff;
}
button:hover{
  background-color: gray;
}
button:active{
  height:82px;
  transform:translateY(2px);
  box-shadow: 0 2px;
}
button[data-key="8"]{
  background-color:orangered;
}
button[data-key="13"]{
  background-color: green;
}